<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bluedot.dao.CadreDao">
	
    
    <insert id="addCadre"  parameterType="Cadre">
    	insert into cadre (salaryID, cadreName, position, rank, ofDepartment)
    	 values(#{salaryID}, #{cadreName}, #{position}, #{rank}, #{departmentId})
    </insert>
    
    <update id="updateCadre" parameterType="Cadre">
    	update cadre set position=#{position}, rank=#{rank}, ofDepartment=#{departmentId} where salaryID=#{salaryID}
    </update>
    
    <delete id="deleteDepartment" parameterType="Integer">
    	delete from cadre where ofDepartment = #{departmentId,jdbcType=INTEGER}
    </delete>
</mapper>