<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bluedot.dao.DepartmentDao" >

  	<insert id="insertDepartment" parameterType="com.bluedot.po.Option">
  		insert into department (departmentName,gradingUnitId)values(#{departmentName,jdbcType=VARCHAR},#{gradingUnitId,jdbcType=INTEGER})
  	</insert>
  	<select id="searchManageDepartment" resultType="com.bluedot.po.Department">
  		select departmentid,departmentname,gradingunitid from department where gradingunitid =2
  	</select>
  	<select id="searchTeacherDepartment" resultType="com.bluedot.po.Department">
  		select departmentid,departmentname,gradingunitid from department where gradingunitid =1
  	</select>
  	<update id="updateDepartment" parameterType="com.bluedot.po.Department">
  		update department set departmentname = #{departmentName,jdbcType=VARCHAR}, gradingunitid =#{gradingUnitId,jdbcType=INTEGER} where departmentid = #{departmentId,jdbcType=INTEGER}
  	</update>
  	<delete id="deleteDepartment" parameterType="com.bluedot.po.Department">
  		delete from department where departmentid = #{departmentId,jdbcType=VARCHAR}
  	</delete>
  	
</mapper>