<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bluedot.dao.OptionDao" >

  	<insert id="insertOption" parameterType="com.bluedot.po.Option">
  		insert into qoption (optionName)values(#{optionName,jdbcType=VARCHAR})
  	</insert>
  	<select id="searchAllOption" resultType="com.bluedot.po.Option">
  		select id,optionname from qoption
  	</select>
  	<select id="searchManageOption" resultType="com.bluedot.po.Option">
  		select id,optionname from qoption where id not in (select optionid from quantify where unitid = 2)
  	</select>
  	<select id="searchTeacherOption" resultType="com.bluedot.po.Option">
  		select id,optionname from qoption where id not in (select optionid from quantify where unitid = 1)
  	</select>
</mapper>