<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bluedot.dao.QualitativeDao">

	<select id="queryAllPlusCadre" parameterType="int"  resultMap="CadreResultMap">
        select * from cadre where rank= #{rank}
    </select>

	<select id="getCadreById" parameterType="int" resultMap="CadreResultMap">
        select * from cadre where cadreID=#{cadreID}
    </select>
    
    <select id="getCadreBySalaryID" parameterType="int" resultMap="CadreResultMap">
        select * from cadre where salaryID=#{salaryID}
    </select>
    <select id="queryCadreByDepartment" parameterType="int" resultMap="CadreResultMap">
        select * from cadre where ofDepartment=#{ofDepartment}
    </select>
    <select id="getDepartmentByName" parameterType="String" resultType="Department">
         select departmentid departmentId, departmentname departmentName, gradingunitid gradingUnitId from department where departmentName=#{departmentName}
    </select>
    <select id="getDepartmentById" parameterType="int" resultType="Department">
         select departmentid departmentId, departmentname departmentName, gradingunitid gradingUnitId from department where departmentid=#{departmentid}
    </select>
    <resultMap type="Cadre" id="CadreResultMap">
        <id property="cadreID" column="cadreID"/>
        <result property="salaryID" column="salaryID"/>
        <result property="cadreName" column="cadreName"/>
        <result property="position" column="position"/>
        <result property="rank" column="rank"/>
        <result property="departmentId" column="ofDepartment"/>
        <association property="ofDepartment" column="ofDepartment" select="getDepartmentById" javaType="Department">        
        </association>
    </resultMap> 
     
    
    <select id="queryDepartmentByUserName" parameterType="String" resultMap="DepartmentResult">
         select departmentid,departmentname,gradingunitid from department where userName=#{userName}
    </select>
    <select id="queryDepartment"  resultMap="DepartmentResult">
         select departmentid,departmentname,gradingunitid from department 
    </select>
    <resultMap type="Department" id="DepartmentResult">
        <result property="departmentId" column="departmentid"/>
        <result property="departmentName" column="departmentname"/>
        <result property="gradingUnitId" column="gradinunitid"/>
    </resultMap>
    
    <select id="queryDepartmentByType" parameterType="int" resultType="Department">
         select departmentid departmentId, departmentname departmentName, gradingunitid gradingUnitId from department where gradingunitid=#{gradingunitid}
    </select>
    
    <select id="queryDepartmentQuantifyGrade" parameterType="QuantifyYearGrade" resultType="QuantifyYearGrade">
    	select  id, year, departmentId, sumGrade, departmentName from quantifygrade where year=#{year} and departmentId=#{departmentId} 
    </select>
    
    <delete id="deleteCadreByID" parameterType="int">
    	delete from cadre where cadreID=#{cadreID}
    </delete>
    
</mapper>