<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bluedot.dao.VoteDao">
	<select id="queryVoteCadreRecord" parameterType="int" resultType="VoteCadre">
        select voteID, year, cadreID, cadreName, type, good, lessGood,common,bad from vote_cadre
        where cadreID=#{cadreID} and year=#{year} and type=#{type}
    </select>
    
    <select id="queryVoteDepartmentRecord" parameterType="int" resultType="VoteDepartment">
        select voteID, year, departmentID, departmentName, type, good, lessGood,common,bad from vote_department 
        where departmentID=#{departmentID} and year=#{year} and type=#{type}
    </select>
    
    <insert id="addVoteDepartmentRecord" parameterType="VoteDepartment">
    	insert into vote_department (year, departmentID, departmentName, type, good, lessGood, common, bad)
    	 values(#{year}, #{departmentID}, #{departmentName}, #{type}, #{good}, #{lessGood}, #{common}, #{bad})
    </insert>
    
    <insert id="addVoteCadreRecord" parameterType="VoteCadre">
    	insert into vote_cadre (year, cadreID, cadreName, type, good, lessGood, common, bad)
    	 values(#{year}, #{cadreID}, #{cadreName}, #{type}, #{good}, #{lessGood}, #{common}, #{bad})
    </insert>
    
    <update id="updateVoteDepartmentRecord" parameterType="VoteDepartment">
    	update vote_department
	    <trim prefix="set" suffixOverrides="," suffix="where departmentID=#{departmentID} and type=#{type} and year=#{year}">
	        <if test="good != null">good = #{good},</if>
	        <if test="lessGood != null">lessGood = #{lessGood},</if>
	        <if test="common != null">common = #{common},</if>
	        <if test="bad != null">bad = #{bad},</if>
	
	    </trim>
    </update>
   
    <update id="updateVoteCadreRecord" parameterType="VoteCadre">
    	update vote_cadre
	    <trim prefix="set" suffixOverrides="," suffix="where cadreID=#{cadreID} and type=#{type} and year=#{year}">
	        <if test="good != null">good = #{good},</if>
	        <if test="lessGood != null">lessGood = #{lessGood},</if>
	        <if test="common != null">common = #{common},</if>
	        <if test="bad != null">bad = #{bad},</if>
	
	    </trim>
    </update>
    
    
</mapper>