/** {
        font-family:"Microsoft YaHei", Arial, FreeSans, Helvetica, sans-serif!important;
    }
    */
/*html {
    height:100%;
}

body {
    margin:0;
    height:100%;
    background-color:#ffffff;
}*/
    
.banner-wrapper {
    background-color:#D30D30;
    /*border-bottom:5px solid #E6E0C8;*/
    background-image:url('../../images/bg.png');
    background-position:0 0;
    background-repeat:no-repeat;
    text-align: center;
}

.banner {
    width:100%;
    height:219px;
    margin:0 auto;
    position:relative;
}
    
.banner .logo {
    width: 530px;
    vertical-align:top;
    margin-top :85px;
    display :inline-block
    
}
    
.banner .links {
    position:absolute;
    top:64px;
    right:0;
    font-size:14px;
    color:white;
}
    
.banner .links a {
    color:white;
    text-decoration:none;
}

.banner .links a:hover {
    text-decoration:underline;
}

.content-wrapper {

}
.logon-panel {
    /*
    top:-50px;
    -webkit-box-shadow:3px 3px 15px 1px #000;
    box-shadow:3px 3px 15px 1px #000;
    right:0px;*/
    
    margin:0 auto;
    width:350px;
    height:400px;		
    background-color:#fff;
}
    
.logon-panel .title {
    /*height:50px;
    line-height:50px;
    font-size:22px;
    padding-left:20px;
    background-color:#f6f6f6;
    border-bottom:1px solid #c0c0c0;
    color:#222;*/
}
.label {
    color:#222;
    font-size:14px;
    text-align:right;
}

input:-webkit-autofill {
    -webkit-box-shadow : 0 0 0px 1000px white inset ;
    border : 1px solid #CCC !important ;
    background:transparent;
}
    
.field {
    font-size:18px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    /*width: auto;*/
    overflow:visible;
    /*background-color:#ffffff;*/
    border:  none;
    outline: none;
    height: 44px;
    line-height: 44px;
    background: transparent;
    width: 170px;
}
.form-box {
        margin: 0 auto;
    margin-top: 21.2%;
}
.errMsg {
    width: 100%;
    height: 0.44rem;
    line-height: 0.44rem;
    text-align: center;
    color: #c00;
    font-size: 18px;
    margin-top: 30px;
}
.LoginForm {
    margin: 0 auto;
    width: 280px;
}
.inputWrapper{
    position:relative;
    background: #FFFFFF;
    border: 3px solid #E13B52;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 280px;
    height: 50px;
    line-height: 50px;
    vertical-align: top
}
.inputWrapper i{
    display:inline-block;
    width:1px;
    height:21px;
    border-right: 1px solid #D8D8D8;
    margin-right: 18px;
    vertical-align: top;
    margin-top: 12px;
}
.inputWrapper span.wrap-placeholder{
    font-size:14px;
}
.user_bg, .pwd_bg{
    width: 17.5px;
    height: 21.5px;
    margin:11px 18px;
    vertical-align: top;
    display: inline-block
    
}
.code-field {
    width:139px;

}

.code-image {
    height:30px;
    position:relative;
    top:-2px;
}
.button {
    font-size:14px;
    width:280px;
    height: 44px;
    text-align:center;
    border:1px solid #ffb435;
    background-color:#E53036;
    color:white;   
    margin-top:30px;  
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box; 
    cursor:pointer;
}

.logon-panel .link {
    color:#B9B9B9;
    font-size:14px;
    text-decoration:none;
    cursor:pointer;
}

.logon-panel .link:hover {
    text-decoration:underline;
}

.errorMsg {
    display:none;
    text-align:center;
    font-size:14px;
    color:#c00;
    border-bottom:1px solid #e8b7b7;
    padding:15px 0;
    background-color:#fae4e4;
}